# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
TFmetrics.iml
mkl-dnn/
server/database/
server/network/datasets/cifar-100/
server/network/datasets/kvasir/
server/network/datasets/kvasir-folds/
server/network/datasets/kvasir-nerthus-combined/
server/network/datasets/nerthus/
server/network/model/cifar-100/
server/network/model/kvasir/
server/network/model/kvasir-folds/
server/network/model/kvasir-nerthus-combined/
server/network/model/nerthus/
server/server.iml
server/virtualenv/
static/
server/metrics/nvidia-ml-py/
server/metrics/storage/
server/metrics/tp-link/