.idea/
TFmetrics.iml
mkl-dnn/
server/network/datasets/
server/network/datasets/cifar-100/
server/network/datasets/kvasir/
server/network/datasets/kvasir-dataset-v2/
server/network/datasets/kvasir-nerthus-combined/
server/network/datasets/nerthus-dataset-frames/
server/network/datasets/nerthus-rune/
server/network/datasets/nerthus/
server/network/model/cifar-100/
server/network/model/kvasir/
server/network/model/kvasir-folds/
server/network/model/kvasir-nerthus-combined/
server/network/model/nerthus/
server/network/model/ous-study/
server/server.iml
server/virtualenv/
static/
server/metrics/nvidia-ml-py/
server/metrics/storage/
server/metrics/tp-link/
client/
server/__pycache__/
server/metrics/__pycache__/
server/network/__pycache__/
server/network/backup/
server/network/tf-learning-example.py
!/server/network/datasets/kvasir/params_binary.json
!/server/network/datasets/kvasir/params_multiclass.json
server/network/datasets/mnist/
server/logs/
server/database/
server/network/datasets/kvasir-dataset-v2-features/
server/param_files/
tfmetrics/
