.idea/
TFmetrics.iml
mkl-dnn/
server/network/datasets/*
!server/network/datasets/ABOUT.md
!server/network/datasets/datamaker.py
server/network/model
!server/network/model/ABOUT.md
server/network/testfiles/
server/server.iml
server/virtualenv/
static/
server/metrics/nvidia-ml-py/
server/metrics/storage/
server/metrics/tp-link/
client/
server/__pycache__/
server/metrics/__pycache__/
server/network/__pycache__/
server/network/backup/
server/network/tf-learning-example.py
!/server/network/datasets/kvasir/params_binary.json
!/server/network/datasets/kvasir/params_multiclass.json
server/network/datasets/mnist/
server/logs/
server/database/
server/network/datasets/kvasir-dataset-v2-features/
server/param_files/
server/network/testfiles/
env/
