absl-py==0.1.13
astor==0.6.2
bleach==1.5.0
click==6.7
cycler==0.10.0
Flask==0.12.2
futures==3.1.1
gast==0.2.0
graphviz==0.8.2
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
joblib==0.11
Keras==2.1.5
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
numpy==1.14.0
nvidia-ml-py3==7.352.0
olefile==0.45.1
opencv-python==3.4.0.12
pexpect==4.2.1
Pillow==4.1.1
pkg-resources==0.0.0
protobuf==3.5.2.post1
psutil==5.4.3
ptyprocess==0.5.2
pydot==1.2.4
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.12
scikit-learn==0.19.1
scikit-plot==0.3.4
scipy==1.0.0
six==1.11.0
tensorboard==1.7.0
tensorflow-gpu==1.15.0
tensorflow-tensorboard==1.5.0
termcolor==1.1.0
Werkzeug==0.14.1
